/* ==============================================
                common-css--start
================================================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a,a:hover,a:focus{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.main-div{
    display: flex;
}
.button a{
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    color: #f8f9fa;
    background: #f02fcd;
    padding: 10px 25px;
    border-radius: 6px ;
    margin-left: 10px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    text-shadow: 5px 3px 1px rgba(88, 19, 184,.2);
    transition: .5s;
}
.button a:hover{
    background: #9243f3;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
}
.title{
    text-align: center;
    margin-bottom: 40px;
}
.title h1{
    font-family: 'Anton', sans-serif;
    font-size: 48px;
    font-weight: 400px;
    filter: drop-shadow(0px 0px 30px rgba(255, 0, 228,0.4));
    background: rgb(253,177,37);
    background: linear-gradient(0deg, rgba(253,177,37,1) 0%, rgba(224,126,30,1) 51%, rgba(252,177,0,1) 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px rgb(77, 1, 72.8);
}

/* ==============================================
                common-css--end
================================================= */

/* ==============================================
                    nav--css--start
================================================= */
nav{
    padding: 0 !important;
    position: absolute !important;
    top: -12px;
    left: 0;
    width: 100%;
    z-index: 9999;
}
nav ul{
    margin: 0 auto;
}
nav ul li{
    margin-left: 25px;
    position: relative;
}
nav ul li a{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    transition: .5s;
    color: #944bff;
    padding: 0 !important;
}
nav ul li a:hover{
    color: #ff39dc;
}
nav ul li::after{
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f02fcd;
    transition: .5s;
    opacity: 0;
}
nav ul li:hover::after{
    width: 50%;
    opacity: 1;
}
nav .button a{
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: #f8f9fa;
    padding: 10px 25px;
    border-radius: 6px ;
    margin-left: 10px;
    background: #f02fcd;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    transition: .5s;
}
nav .button a:hover{
    background: #9243f3;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
}
nav ul .button2{
    display: none;
}
nav ul .button2 a{
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: #f8f9fa;
    padding: 10px 25px;
    border-radius: 6px ;
    margin-left: 10px;
    background: #f02fcd;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    transition: .5s;
}
nav .button2 a:hover{
    background: #9243f3;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
}



nav .active{
    color: #f02fcd;
}
/* ==============================================
                    nav--css--end
================================================= */

/* ==============================================
                    banner--css--start
================================================= */
#banner-part{
    background: #150035;
    padding-top: 190px;
    padding-bottom: 170px;
}
#banner-part .img{

}
#banner-part .img img{
    width: 100%;
}
#banner-part .text{

    text-align: center;
}
#banner-part .text h1 {
	font-size: 315px;
	font-weight: 400;
	font-family: 'Anton', sans-serif;
	color: #fcb100;
	margin-top: -40px;
	filter: drop-shadow(0px 0px 25px rgba(255, 0, 228,0.2));
    background: rgb(253,177,37);
    background: linear-gradient(0deg, rgba(253,177,37,1) 0%, rgba(224,126,30,1) 51%, rgba(252,177,0,1) 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3.8px rgb(252, 177, 0);
}
#banner-part .text h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	color: #ffffff;
	font-weight: 400;
    filter: drop-shadow(0 0 25px #4d0148);
    text-align: left;
    margin-left: 45px;
}
#banner-part .text p{
    font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color: #fff;
    font-weight: 400;
    width: 454px;
    text-align: center;
    margin: 0 auto;
}
#banner-part .text .button{
    margin-top: 30px;
    text-align: center;
}
#banner-part .text .button a {
	text-transform: uppercase;
}

/* ==============================================
                    banner--css--end
================================================= */

/* ==============================================
                    games fast--css--start
================================================= */
#games-part {
    background: #0b001b;
    padding-bottom: 100px;
}
#games-part .item{
     transform: translateY(-50%);
}
#games-part .shep{
    background: rgb(87, 13, 200);
    background: linear-gradient(90deg, rgba(158,78,252,1) 33%, rgba(87,13,200,.9) 77%);
}
#games-part .shep{
    -webkit-box-shadow: inset 15px 0px 51px 0px rgba(31,7,67,0.91);
    -moz-box-shadow: inset 15px 0px 51px 0px rgba(31,7,67,0.91);
    box-shadow: inset 20px 0px 38px 0px rgba(31,7,67,0.7);
}
#games-part .item{
    -webkit-box-shadow: 0px 5px 0px 0px rgba(58,0,144,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(58,0,144,1);
    box-shadow: 0px 5px 0px 0px rgba(58,0,144,.8);
}
#games-part .sep1 {
    clip-path: polygon(0 11%, 100% 7%, 100% 100%, 0% 100%);
    box-shadow: none;
}
#games-part .sep2 {
	clip-path: polygon(0 7%, 100% 3%, 100% 100%, 0% 100%);
}
#games-part .sep3 {
	clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
}
#games-part .shep .text{
    padding: 45px 0;
    text-align: center;
    overflow: hidden;
}
#games-part .shep .text h1{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    font-weight: 400px;
    background: rgb(253,177,37);
    background: linear-gradient(0deg, rgba(253,177,37,1) 0%, rgba(224,126,30,1) 51%, rgba(252,177,0,1) 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(77, 1, 72.5);
    text-shadow: 0px 6px 1px rgb(110, 57, 184,.3);
    margin-bottom: 20px;
}
#games-part .shep .text h3{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    font-weight: 400px;
    color: #f8f9fa;
    text-shadow: 5px 4px 1px rgba(88, 19, 184,.4);
}
#games-part .shep .text p{
    font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color: #fff;
    font-weight: 400;
    margin-top: 15px;
}
/* ==============================================
                    games-second--css--start
================================================= */
#games-part .box .img img{
    width: 100%;
    border-radius: 0px 60px 5px 60px;
    -moz-border-radius: 0px 60px 5px 60px;
    -webkit-border-radius: 0px 60px 5px 60px;
    border: 0px solid #f50ae9;
}
#games-part .box .img{
    position: relative;
}
#games-part .box .img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(22, 5, 54,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .6s;
    border-radius: 0px 60px 5px 60px;
    -moz-border-radius: 0px 60px 5px 60px;
    -webkit-border-radius: 0px 60px 5px 60px;
    border: 0px solid #f50ae9;
}
#games-part .box:hover .overlay{
    opacity: 1;
    height: 100%;
}
#games-part .box .img .overlay .tx h1{
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    font-weight: 400px;
    color: #f8f9fa;
    margin-bottom: 20px;
}
#games-part .box .img .overlay .tx .button a{
    margin-left: 5px;
}

/* ==============================================
                    games--css--end
================================================= */

/* ==============================================
                    about--css--start
================================================= */
#about-part{
    background: #150035;
    padding-top: 110px;
    padding-bottom: 40px;
}
#about-part .title{
    text-align: left;
    margin-top: 50px;
}
#about-part .img img{
    width: 90%;
}
#about-part .text p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    color: #f8f9fa;
    width: 570px;
}
#about-part .text .dlts{
    margin-top: 25px;
}
#about-part .text .button a{
    display: inline-block;
    margin-top: 40px;
    margin-left: 0;
}

/* ==============================================
                    about--css--end
================================================= */

/* ==============================================
                    pricing--css--start
================================================= */
#pricing-part{
    background: #0b001b;
    padding: 80px 0;
}
#pricing-part .title{
    margin-bottom: 80px;
}
#pricing-part .item .top{
    text-align: center;
    padding: 20px 0;
    background: rgb(166,0,132);
    background: linear-gradient(0deg, rgba(166,0,132,1) 0%, rgba(255,57,220,1) 100%);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
   -webkit-box-shadow: 0px 4px 0px 0px rgba(102,19,85,1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(102,19,85,1);
    box-shadow: 0px 4px 0px 0px rgba(102,19,85,1);
    transform: translateY(-90%);
    opacity: 0;
    transition: .5s;
}
#pricing-part .item:hover .top{
    opacity: 1;
}
#pricing-part .item:hover{
    transform: translateY(5%);
}
#pricing-part .item:hover a{
     background: #9243f3;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
}
#pricing-part .item .top h2{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700px;
    color: #f8f9fa;
    text-shadow: 4px 4px 1px rgb(102, 19, 85,.8);
}
#pricing-part .item{
    text-align: center;
    background: rgb(87,13,200);
    background: linear-gradient(0deg, rgba(87,13,200,1) 0%, rgba(158,78,252,1) 100%);
    border-radius: 7px;
    position: relative;
    padding-bottom: 20px;
    transition: .5s;
}
#pricing-part .item h1{
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #f8f9fa;
    text-shadow: 4px 4px 1px rgb(88, 19, 184,.8);
}
#pricing-part .item h3{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #f8f9fa;
    margin-top: 10px;
}
#pricing-part .item p{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #f8f9fa;
    margin-bottom: 30px;
}
#pricing-part .item p::after{
    content: "";
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgb(11, 0, 27,.4);
}
#pricing-part .item ul li{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #f8f9fa;
    padding: 9px 0;
}
#pricing-part .item a{
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: #f8f9fa;
    background: #f02fcd;
    padding: 10px 25px;
    border-radius: 6px ;
    margin-left: 10px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    transition: .6s;
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}
#pricing-part .item a:hover{
    background: #9243f3;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
}

/* ==============================================
                    pricing--css--end
================================================= */

/* ==============================================
                    question--css--start
================================================= */
#question-part{
    background: #150035;
    padding: 100px 0;
    position: relative;
}
#question-part .title{
    text-align: left;
    margin-bottom: 80px;
}
#question-part .card h3{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    position: relative;
}
#question-part .card{
    background: transparent;
    border: 1px solid transparent;
    margin-bottom: 20px;
    transition: .5s;
}
#question-part .cad{
    border: transparent;
}
#question-part .card:hover{
    border: 1px solid #fcb100;
}
#question-part .active{
    border: 1px solid #fcb100;
    padding: 10px 20px;
}
.btn.focus, .btn:focus{
    box-shadow: none;
}
#question-part button{
    text-decoration: none;
}

#question-part .card-body p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: 579px;
    padding: 0px 20px 0px 0px;
}
#question-part .card h3 i{
    position: absolute;
    top: 0;
    right: -17px;
}
#question-part .line{
    margin-top: 40px;
    width: 96%;
    height: 4px;
    background: rgb(11, 0, 27);
    position: absolute;
    top: 50px;
    left: 12px;

}
#question-part .line .after{
    position: relative;
}
#question-part .line .after::after{
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2f0a5d;
}
#question-part .line .after .key{
    width: 6%;
    height: 1.5px;
    background: rgb(87,13,200);
    background: linear-gradient(0deg, rgba(87,13,200,1) 12%, rgba(97,22,210,1) 51%, rgba(58,16,123,1) 87%);
    position: relative;
    top: 3px;
    animation: mymove 25s infinite;
    z-index: 5;
}
@keyframes mymove {
	0%{left: 0%;}
	50%{left: 94%;}
	100%{left: 0%;}
}
#question-part .title h1{
    font-size: 40px;
}
#question-part .up h3{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
#question-part .up{
    display: flex;
    justify-content: center;
    align-items: center;
}
#question-part .up .example li{
    width: 70px;
    height: 70px;
    border: 1px solid #fcb100;
    border-radius: 10px;
    text-align: center;
    padding-top: 6px;
    display: inline-block;
    margin-left: 20px;
}
#question-part .up .example .hours{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fcb100;
}
#question-part .up .example .minutes{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fcb100;
}
#question-part .up .example .seconds{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fcb100;
}
#question-part .up .example .text{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fcb100;
}
#question-part .nice{
    margin-top: 50px;
	height: 277px;
	width: 443px;
    overflow: auto;
}
#question-part .nice h1{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 15px 0;
    position: relative;
}
#question-part .nice h1::after{
    content: "";
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgb(0, 0, 0);
}
#question-part .nice h1::before{
    content: "";
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(41, 10, 89);
    z-index: 2;
}
#question-part .nice span {
	position: absolute;
	top: 13px;
	left: 230px;
}
#question-part .nice .tx{
    font-family: 'Nunito', sans-serif;
    font-size: 16;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 16px;
	left: 330px;
}

/* ==============================================
                    question--css--end
================================================= */

/* ==============================================
                    sub--css--start
================================================= */
#sub-part{
    background: rgb(87,13,200);
    background: linear-gradient(0deg, rgba(87,13,200,1) 0%, rgba(158,78,252,1) 100%);
    padding: 40px 0;
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(58,0,144,1);
    -moz-box-shadow: inset 0px -5px 0px 0px rgba(58,0,144,1);
    box-shadow: inset 0px -5px 0px 0px rgba(58,0,144,1);
}
#sub-part .text h1{
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #f8f9fa;
    margin-bottom: 25px;
    text-shadow: 5px 5px 1px rgb(88, 19, 184.4);
}
#sub-part .text input{
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    border: 1px solid #3a0090;
    background: transparent;
    color: #f8f9fa;
}
#sub-part .text input::placeholder{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #0b001b;
}
#sub-part .text{
    position: relative;
}
#sub-part .text button {
	background: transparent;
	color: #2f0a5d;
	padding: 7px 15px;
	border: 0;
	border-left: 1px solid #3a0090;
	font-size: 20px;
	position: absolute;
	top: 64px;
	right: 0;
}
#sub-part .text button i{
    transition: .5s;
}
#sub-part .text button i:hover{
    color: #f02fcd;
}
#sub-part .right h1{
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #f8f9fa;
    margin-bottom: 25px;
    text-shadow: 5px 5px 1px rgb(88, 19, 184.4);
}
#sub-part .right{
    margin-left: 90px;
}
#sub-part .right .images img{
    margin-right: 10px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(58,0,144,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(58,0,144,1);
    box-shadow: 5px 5px 0px 0px rgba(58,0,144,1);
    border-radius: 5px;
    transition: .7s;
}
#sub-part .right .images img:hover{
    background: #f02fcd;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(240,47,205,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(240,47,205,1);
    box-shadow: 5px 5px 0px 0px rgba(240,47,205,1);
}
/* ==============================================
                    sub--css--end
================================================= */

/* ==============================================
                    footer--css--start
================================================= */
#footer-part{
    background: #0b001b;
    padding-top: 60px;
    padding-bottom: 25px;
    position: relative;
}
#footer-part .about h1{
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #f8f9fa;
    margin-bottom: 25px;
}
#footer-part .about p{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #f8f9fa;
    line-height: 25px;
    width: 300px;
    margin-bottom: 30px;
}
#footer-part .about .icon i{
    font-size: 20px;
    width: 50px;
    height: 50px;
    color: #f8f9fa;
    background: #9243f3;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    box-shadow: 0px 4px 0px 0px rgba(146,67,243,.6);
    text-shadow: 5px 4px 1px rgb(88, 19, 184);
    text-align: center;
    line-height: 50px;
    margin-right: 15px;
    transition: .6s;
    cursor: pointer;
}
#footer-part .about .icon i:hover{
    background: #f02fcd;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
    box-shadow: 0px 4px 0px 0px rgba(240,47,205,.6);
}
#footer-part .link h1{
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #f8f9fa;
    margin-bottom: 25px;
}
#footer-part .link ul li{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #f8f9fa;
    margin-bottom: 24px;
    transition: .5s;
    cursor: pointer;
}
#footer-part .link ul li:hover{
    color: #f02fcd;
}
#footer-part .text ul{
    margin-top: 60px;
}
#footer-part .text ul li{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #f8f9fa;
    margin-bottom: 20px;
    transition: .5s;
    cursor: pointer;
}
#footer-part .text ul li:hover{
    color: #f02fcd;
}
#footer-part .datels h1{
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #f8f9fa;
    margin-bottom: 25px;
}
#footer-part .datels .img{
    position: relative;
    margin-bottom: 25px;
}
#footer-part .datels .img h2{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #f8f9fa;
    display: block;
    position: absolute;
    top: 15px;
    left: 90px;
}
#footer-part .datels .img span{
    display: block;
}
#footer-part .datels .img2 h2{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #f8f9fa;
    display: block;
    position: absolute;
    bottom: 70px;
    left: 105px;
}
#footer-part .datels .img2 span{
    display: block;
}
#footer-part .cp{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #f8f9fa;
    margin: 0 auto;
    margin-top: 70px;
}
#footer-part .line{
    width: 100%;
    height: 4px ;
    background-color: rgb(21, 0, 53,.8);
    position: absolute;
    bottom: 80px;
    left: 0;
}
#footer-part .line .after{
    width: 100%;
    height: 2px;
    background: #290a59;
    margin-top: 4px;
    position: relative;
}
#footer-part .line .after .key{
    width: 5%;
    height: 1px;
    background: rgb(87,13,200);
    background: linear-gradient(0deg, rgba(87,13,200,1) 12%, rgba(97,22,210,1) 51%, rgba(58,16,123,1) 87%);
    position: relative;
    animation: mymove 25s infinite;
    z-index: 5;
}
@keyframes mymove {
	0%{left: 0%;}
	50%{left: 94%;}
	100%{left: 0%;}
}

/* ==============================================
                    footer--css--end
================================================= */
